h1,h2,p{
    text-align: center;
}
body{
   background-image:url(../img/coffee.jpg);
   background-size: 100%;
   font-family: sans-serif;
   padding: 20px;
   
}
.menu{
    width: 100%;
    max-width: 700px;
    background: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
h1,h2{
    font-family: Impact,serif;
}
.established{
    font-style: italic;
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-shadow: brown 3px 3px;
}
h2{
    font-size: 30px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line{
    margin-top:25px;
  }
  /*footer */
  footer{
    font-size: 14px;
  }
  a{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover{
    color:brown;
  }
  a:active{
    color: brown;
  }
  .address{
    margin-bottom:5px;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }