.container{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(239, 18, 151);
    width:700px;
    height:700px;
    gap:3px;
    display: flex;
}

.box{
    display: inline-block;
    height: 100px;
    width:100px;
    line-height: 70px;
    border:2px solid rgb(9, 9, 235);
    background-color: burlywood ;

}

@media (max-width:600px){
    .container{
        display: block;
        background-color: aqua;
    }
}


    


    