body
 {
   font-family: Arial, sans-serif; 
    margin: 6px auto;
    padding: 30px;   
  }

   pre{
     font-style: italic;
   }
  h1 
  {
    text-align: center;
    color: rgb(211, 78, 211);
  }
  .form-group
  {
    margin-bottom: 20px;
    
  }
  
  label 
  {
    display: block;
    font-weight: bold;
  }
   input[type="text"],
   input[type="tel"],
   input[type="email"],
   input[type="date"],
   textarea,
   select 
   {
     width: 95%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
   }
  
   input[type="submit"] 
   {
     background-color: #337ab7;
     color: #fefffcce;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
    }
  
    input[type="submit"]:hover 
   {
     background-color: #0b7adb;
   }

   .main-reg {
    width: 700px;
    margin: auto;
    padding: 30px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(238, 93, 93);
   }