/* ProductManagement.css */
h2 {
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* ProductManagement.css */
h2 {
    margin-top: 20px;
  }
  
  .toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-button.active {
    background-color: #d9534f;
  }
  
  